<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.katia.five_books_of_the_genre_fiction">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScrollingActivity1"
            android:label="@string/title_activity_scrolling1" />
        <activity
            android:name=".ScrollingActivity2"
            android:label="@string/title_activity_scrolling2" />
        <activity
            android:name=".ScrollingActivity3"
            android:label="@string/title_activity_scrolling3" />
        <activity
            android:name=".ScrollingActivity4"
            android:label="@string/title_activity_scrolling4" />
        <activity
            android:name=".ScrollingActivity5"
            android:label="@string/title_activity_scrolling5"></activity>
    </application>

</manifest>
